.App {
  text-align: center;
}

.p5 {
  padding: 5px;
}

.p10 {
  padding: 10px;
}

.p15 {
  padding: 15px;
}

.p-r1 {
  padding-right: 5px;
}
.p-r2 {
  padding-right: 10px;
}
.p-r3 {
  padding-right: 15px;
}
.p-r4 {
  padding-right: 20px;
}

.p-l1 {
  padding-left: 5px;
}
.p-l2 {
  padding-left: 10px;
}
.p-l3 {
  padding-left: 15px;
}
.p-l4 {
  padding-left: 20px;
}
.tr-1 {
  opacity: 0.5;
}

.round {
  border: none;
  border-radius: 50%;
}

.right {
  /* display: flex;
  justify-content: end; */
  text-align: right;
}

.white {
  color: white;
}

.langar {
  font-family: "Langar", cursive;
}

.bungee {
  font-family: "Bungee Outline", cursive;
}

.exo2 {
  font-family: "Exo 2", sans-serif;
}

.locate {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

.navbar {
  display: inline-block;
}

.bg-cement {
  background: #424949;
}

.shadow {
  color: white;
  text-shadow: 2px 2px 4px #000000;
}

.fs50 {
  font-size: 50px;
}

.fs25 {
  font-size: 30px;
}

.gradient {
  display: flex;
  flex-direction: column;
  justify-content: left;
  background: linear-gradient(
    to right,
    #ff9a01,
    #ff9a01,
    #c4bd7a,
    #f70909,
    #f70909
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.logo-location {
  display: flex;
  flex-direction: column;
  justify-content: left;
}

.w80 {
  width: 80%;
  margin: auto;
}

.mt137 {
  margin-top: 137px;
}

.mt250 {
  margin-top: 250px;
}

.mt200 {
  margin-top: 200px;
}

.mt190 {
  margin-top: 190px;
}

.mt10 {
  margin-top: 10px;
}

.mt50 {
  margin-top: 50px;
}

.bb {
  border-bottom: 1px solid #f9ed22;
}

.bg {
  background: #4d6985;
  opacity: 0.5;
}

.containerSlide {
  /* width: 80%; */
  /* margin: auto; */
  /* padding: 20px; */
  /* margin-top: 180px; */
  /* border: 2px solid #000000; */
  /* border-radius: 50px; */
}

.iconFollow {
  font-size: 30px;
}
